.gradle/
build/

*.txt


gradlew.*

*.iws
*.ipr
*.iml
/eclipse/logs/*
/eclipse/saves/*

/.classpath
/.project
/.settings/
/bin/

/jamoa.ipr
/jamoa.iws

/eclipse/logs/fml-client-1.log
/eclipse/logs/fml-client-2.log
/eclipse/logs/fml-client-3.log
/eclipse/logs/fml-client-latest.log
/eclipse/logs/fml-junk-earlystartup.log
/eclipse/logs/latest.log
/eclipse/saves/New World/data/Village.dat
/eclipse/saves/New World/data/villages.dat
/eclipse/saves/New World/DIM-1/data/villages.dat
/eclipse/saves/New World/DIM1/data/villages.dat
/eclipse/saves/New World/level.dat
/eclipse/saves/New World/level.dat_mcr
/eclipse/saves/New World/level.dat_old
/eclipse/saves/New World/playerdata/040a63f0-e153-3f49-84a8-b60ca564e69f.dat
/eclipse/saves/New World/region/r.-1.-1.mca
/eclipse/saves/New World/region/r.-1.-2.mca
/eclipse/saves/New World/region/r.-1.0.mca
/eclipse/saves/New World/region/r.0.-1.mca
/eclipse/saves/New World/region/r.0.-2.mca
/eclipse/saves/New World/region/r.0.-3.mca
/eclipse/saves/New World/region/r.1.-2.mca
/eclipse/saves/New World/region/r.1.-3.mca
/eclipse/saves/New World/session.lock
/eclipse/saves/New World/stats/040a63f0-e153-3f49-84a8-b60ca564e69f.json
